:root {
  --primaryDark: #333333;
  --secondaryColor: #f2f2f2;
  --primaryAccent: #4864e6;
  --secondaryAccent: #c5d0ff;
  --primaryFont: "Roboto", sans-serif;
  --secondaryFont: "Lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primaryFont);
}

.app,
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5vh 0;
  height: 80vh;
}

.app-title,
.login-title {
  font-family: var(--secondaryFont);
  color: var(--primaryAccent);
}